<%- model_class = Product -%>
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4"><%=t '.title', default: model_class.model_name.human.pluralize.titleize %></h6>
                
                <div class="row text-center">
                    <div class="mb-3 col-12">
                        <%= link_to t('.cancel', default: t("helpers.links.edit")),edit_admin_product_path(@product), class: 'btn btn-outline-primary' %>
                        <%= link_to t('.cancel', default: t("helpers.links.back")),admin_products_path, class: 'btn btn-outline-primary' %>
                    </div>
                </div>

                <div class="row">
                    <div class="mb-3 col-4">
                        <%= model_class.human_attribute_name(:name_display) -%>: 
                        <input class="string optional form-control" value="<%= @product.name_display %>" readonly disabled>
                    </div>
                    <div class="mb-3 col-4">
                        <%= model_class.human_attribute_name(:manufacturer) -%>: 
                        <input class="string optional form-control" value="<%= @product.manufacturer %>" readonly disabled>
                    </div>
                    <div class="mb-3 col-4">
                        <%= model_class.human_attribute_name(:active) -%>: 
                        <input class="string optional form-control" value="<%= @product.active %>" readonly disabled>
                    </div>
                    <div class="mb-3 col-12">
                        <%= model_class.human_attribute_name(:name_internal) -%>: 
                        <input class="string optional form-control" value="<%= @product.name_internal %>" readonly disabled>
                    </div>
                    <div class="mb-3 col-12">
                        <%= model_class.human_attribute_name(:description) -%>: 
                        <input class="string optional form-control" value="<%= @product.description %>" readonly disabled>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>